/Software_engineering_project/nbproject/private/
/Software_engineering_project/dist/
/Software_engineering_project/build/
Software_engineering_project/nbproject/
Software_engineering_project/.idea/
Software_engineering_project/out/
Software_engineering_project/Software_engineering_project.iml